@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* Header */

.header-container {
  background-image: url("../img/banner-header-menu.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-color: #00193c;
}

.container-menu-externo {
  max-width: 1260px;
  margin: 0 auto;
}

.conteudo-banner {
  max-width: 1260px;
  margin: auto;
  position: absolute;
  top: 40%;
}

.conteudo-banner h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.btn-saber-mais-banner {
  background-color: #56d7af;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  width: 180px;
  height: 45px;
  border-radius: 50px;
}

.div-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 2em;
}

.li-menu {
  list-style: none;
  display: flex;
  gap: 50px;
}
.div-container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.li-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-faça-login {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  height: 45px;
  border: 2px solid #56d7af;
  border-radius: 50px;
}

.btn-invista-agora {
  background-color: #56d7af;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  width: 180px;
  height: 45px;
  border-radius: 50px;
  margin-left: 0.7em;
}

.section-sobre-empresa {
  display: flex;
}

.bg-sobre-empresa {
  width: 50%;
}

.conteudo-sobre-empresa {
  margin: auto 0;
  padding-left: 5em;
}

.button-saber-mais {
  width: 160px;
  height: 51.08px;
  background: #56d7af;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.letra-a-sobre-empresa {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;

  color: #56d7af;
}

.h2-sobre-empresa {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: #00193c;
  margin-bottom: 0.5em;
}

.h2-sobre-empresa::before {
  content: "";
  display: inline-block;
  border: 4px solid #56d7af;
  width: 11px;
  height: 11px;
  margin: 0 10px 7px 0;
}

.paragrafo-sobre-empresa {
  width: 498px;
  margin-bottom: 3.5em;
}
.section-fundo {
  background: #00193c;
  height: 774px;
  margin-bottom: -360px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-numeros {
  max-width: 1260px;
  margin: 0 auto;
  padding: 6em 0;
  display: flex;
  justify-content: space-between;
}

.div-numeros-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.numero-dados {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #56d7af;
  margin-bottom: 0.1em;
}
.texto-dados {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.texto-dados-sub {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #777f8d;
}

.sub-texto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #56d7af;
  margin-left: -5px;
}

.borda-inferior-numeros {
  width: 33px;
  height: 4px;
  background-color: #56d7af;
  border-radius: 50px;
  margin-bottom: 1.4em;
}

.div-externa-title-fundo {
  max-width: 1260px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.div-title-fundo {
  width: 711px;
  height: 457px;
  background: #ffffff;
  margin-right: -30px;
}

.h3-title-fundo {
  font-family: "Montserrat", sans-serif;
  color: #56d7af;
  font-size: 48px;
}

.h3-title-fundo::before {
  content: "";
  display: inline-block;
  border: 4px solid #56d7af;
  width: 11px;
  height: 11px;
  margin: 0 10px 7px 0;
}

.div-h3-texto {
  margin-top: 3em;
  width: 537px;
  height: 264px;
  margin-left: 3em;
}

.div-h2-fundo {
  width: 605px;
  height: 350px;
  background: #56d7af;
  margin-left: -30px;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.div-h2-texto {
  width: 455px;
  height: px;
  margin: 80px 0 0 65px;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.fundo-money {
  position: relative;
  min-width: 1260px;
  margin: 0 auto;
}

.container-money {
  min-width: 1260px;
  margin: 0 auto 10em;
  max-width: 1260px;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

.div-fundo-money {
  min-width: 540px;
  max-width: 540px;
  margin-top: 56px;
}

.div-fundo-money:nth-child(odd) {
  margin-right: 109px;
}

.container-paragrafos {
  display: flex;
  flex-wrap: wrap;
}

.h5-fundo-money {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #00193c;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}

.container-money button {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 6em;
}

.form-cadastro-container {
  position: absolute;
  width: 1290px;
  height: 282px;
  left: 50%;
  top: -21.55%;
  transform: translateX(-50%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-cadastro-container h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 1.5em;

  color: #00193c;
}

.input-newssletter {
  width: 550px;
  height: 60px;
  border: 1px solid #e0e0e0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 2em;
}

.button-newsleter {
  width: 262px;
  height: 60px;
  background-color: #56d7af;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */

  color: #ffffff;
}

.div-form-inputs {
  display: flex;
}

.section-footer {
  position: relative;
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  background-position: center;
  height: 660px;
}

.div-container-footer {
  max-width: 1260px;
  min-height: 660px;
  margin: auto;
  display: flex;
  padding-top: 12em;
  padding-bottom: 2em;
}

.icones-redes-sociais-footer img {
  margin: -10px;
}

.div-menu-footer-container {
  margin: 3em 0 0 13em;
  width: 817px;
}

.div-menu-contato-footer {
  display: flex;
  margin-bottom: 7em;
}

.div-logo-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.div-logo-footer > img {
  width: 70%;
}

.div-menu-footer-interno {
  margin-right: 6em;
}

.paragrafo-footer-texto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.paragrafo-footer-registro {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.h6-menu-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.div-contato-menu-footer p,
.ul-menu-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  list-style: none;
}

.ul-menu-footer li {
  margin-bottom: 0.5em;
}

.paragrafo-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  color: #ffffff;
}
